body{
	background-color: #e2ac7f;
}

#wrap{
	background-color: #f5f5dc;
	border-color: black;
	border-style: dotted;
	border-width: 10px;
	margin: 0px 200px 0px 200px ;
}
div h1{
	border-color: black;
	border-style: dotted;
	border-width: 10px;
	padding-left: 25px;
	margin: -10px -10px 6px -10px;
}
p{
	font-family: Verdana, DejaVu Sans, sans-serif;
	text-align:justify ;
	padding: 0px 80px 0px 80px;
}
ul{
	padding-left: 250 px;
}
li{
	font-size: 1.5em;
	text-transform: capitalize;
	list-style: none;
}
strong{
	font-size: 2em;
}