# ——— Dossiers à ignorer individuellement ———

# Éditeur / config locale
.git/
.vscode/

# Ignorer certains sous-dossiers de travail dans /Bases
/Bases/Cours/
/Bases/Memo/
/Bases/non ok/

#Ignorer le fichier de mot de passe:

/OK/Info Passwords Tools.txt

/DI_Bootcamp_Stage1/04_full_stack_coding_bootcamp/week_08_javascript_and_dom/day_1_2_learning_dom_events/00_course/prof