<<<<<<< HEAD
#container {
	font-size: 18px;
	padding-right: 12%;
	border-left: 10px red solid;
}

.main_heading {
	background-color: antiquewhite;
}

.main {
	background-color: aliceblue);
}

.main_header, .main_footer {
	color: violet);
}
footer p /* Descendant Selector */ {
	background: salmon;
		font-family: "Yellowtail", serif;
			font-weight: 400;
			font-style: normal;
}

h1+h4 /* Adjacent Selector */{
	background: purple;
}

ul>li /* Direct child selector */{
	background: yellow;
}
.not /*  CSS Rule to Remove CSS Styles for an Element Only */{
	all: revert;
	list-style: disclosure-open;
}
.bli /*  CSS Rule to Remove CSS Styles for an Element Only */
	{
	all: revert;
	list-style: disclosure-closed;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 350px
	border: 2px solid green
=======
#container {
	font-size: 18px;
	padding-right: 12%;
	border-left: 10px red solid;
}

.main_heading {
	background-color: antiquewhite;
}

.main {
	background-color: aliceblue);
}

.main_header, .main_footer {
	color: violet);
}
footer p /* Descendant Selector */ {
	background: salmon}
h1+h4 /* Adjacent Selector */{
	background: purple;
}

ul>li /* Direct child selector */{
	background: yellow;
>>>>>>> 67b179fdf2b4391c2cc9a5e677f56a307da8bda8
}